<li>
  <h2><%= theme %></h2>
  <ul>
    <% theme.discourses.each do |discourse| %>
      <li>
        <%= link_to discourse.title, conference_theme_project_discourse_path(@conference, theme, discourse.project, discourse) %>
        <br />
        Средняя оценка: <%= discourse.average_rate %>
        <br />
        Кол-во экспертов: <%= discourse.experts.count %> / <%= theme.experts.count %>
        <br />

        <% if (theme.experts - discourse.experts).any? %>
          <span class="warning">
            Следующие эксперты, еще не оценили доклад:
            <%= (theme.experts - discourse.experts).map(&:name).join(', ') %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
