<li>
  <p><%= expert_claim.theme %></p>
  <p><%= expert_claim.user %></p>

  <% if expert_claim.pending? %>
    <p>
      <%= simple_form_for [:manage, expert_claim] do |f| %>
        <%= f.input :state_event, as: :hidden, input_html: { value: 'approve' } %>
        <%= f.button :submit %>
      <% end %>
    </p>
  <% end %>

  <p><%= link_to 'Удалить', [:manage, expert_claim], confirm: 'Вы уверены?', method: :delete, class: 'button' %></p>
</li>
