<%= content_for :page_title,  "Заявки для участия в качестве эксперта" %>

<%= content_for :local_navigation do %>
  <ul>
    <li<%= " class=current" if current_page?(manage_conference_expert_claims_path(@conference)) || current_page?(with_state_manage_conference_expert_claims_path(@conference, :pending)) %>>
      <%= link_to 'Неутвержденные заявки', with_state_manage_conference_expert_claims_path(@conference, :pending) %>
    </li>
    <li<%= " class=current" if current_page?(with_state_manage_conference_expert_claims_path(@conference, :approved)) %>>
      <%= link_to 'Утвержденные заявки', with_state_manage_conference_expert_claims_path(@conference, :approved) %>
    </li>
  </ul>
<% end %>

<ul class="expert_claims">
  <%= render collection %>
</ul>
