<li>
  <%= comment.user_name %>
  <%= comment.body %>
  <%= l comment.created_at, :format => :short %>

  <% if current_user %>
    <%= link_to "Ответить", new_theme_project_discourse_comment_path(@theme, @project, resource, :parent_id => comment.id), :remote => true, :class => 'new_record' %>
  <% end %>

  <ul>
    <% if comment.has_children? %>
      <% comment.children.each do |child| %>
        <%= render child %>
      <% end %>
    <% end %>
  </ul>
</li>
