<%= content_for :page_title do %>
  <%= image_tag 'icon_theme.png', :class => 'icon', :width => '16', :height => '16' %>
  Направления
<% end %>

<div id="left">
  <ul class='listing' id='projects'>
    <% @themes.each do |theme| %>
      <li>
        <div class='project_with_stats'>
          <div>
            <div class="theme_stats">
              <div>
                <%= image_tag 'icon_project.png', :class => 'icon', :width => '16', :height => '16' %>
                Количество проектов: <%= theme.projects.count %>
              </div>
              <div>
                <%= image_tag 'icon_report.png', :class => 'icon', :width => '16', :height => '16' %>
                Количество докладов: <%= theme.discourses.count %>
              </div>
            </div>
            <h2>
              <%= image_tag 'icon_theme.png', :class => 'icon', :width => '16', :height => '16', :alt => theme.name %>
              <%= link_to theme.name, [@current_conference, theme] %>
            </h2>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
