<%= content_for :page_title do %>
  <%= image_tag 'icon_theme.png', :class => 'icon', :width => '16', :height => '16' %>
  <%= resource.name %>
<% end %>

<% content_for :local_navigation do %>
  <%= link_to "&larr; Назад к списку направлений".html_safe, collection_path  %>
<% end %>

<div id="left">
  <ul class='listing' id='projects'>
    <% resource.projects.group_by(&:chair_abbr).sort.each do |chair, projects| %>
      <li>
        <div class='project_with_stats'>
          <div>
            <h2 id="chair_<%= I18n.transliterate(chair).gsub(/\s/, '_') %>" title='<%= chair %>'>
              <%= image_tag 'icon_chair.png', :class => 'icon', :width => '16', :height => '16' %>
              Кафедра <%= chair %>
            </h2>
          </div>
        </div>

        <ul>
          <% projects.each do |project| %>
            <li>
              <h3 id="project_<%= project.id %>">
                <%= image_tag 'icon_project.png', :class => 'icon', :width => '16', :height => '16' %>
                <%= project.capitalized_title %>
              </h3>
              <% if project.discourses.empty? %>
                <div class='empty'>Нет докладов</div>
              <% end %>
              <ul>
                <% project.discourses.each do |discourse| %>
                  <li>
                    <%= image_tag 'icon_report.png', :class => 'icon', :width => '16', :height => '16' %>
                    <%= link_to discourse.title, conference_theme_project_discourse_path(@conference, resource, project, discourse) %>
                    <div style='margin: 7px 0 0 0'>
                      <%= image_tag 'icon_users.png', :class => 'icon', :width => '16', :height => '16' %>
                      <%= discourse.authors.join(', ') %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
