<%= content_for :page_title, "Статистика докладов" %>

<% content_for :local_navigation do %>
  <%= link_to "&larr; назад к списку конференций".html_safe, manage_root_path %>
<% end %>

<div class="dashboard">
  <div class="wrapper">
    <h3>Лучшая тройка докладов</h3>
    <ul>
      <% @conference.best_three_with_rate.each do |rate, discourses| %>
        <li>
          Средняя оценка:
          <%= rate %>
          <ul>
            <% discourses.each do |discourse| %>
              <li>
                <p>
                  <%= link_to discourse.title, conference_theme_project_discourse_path(@conference, discourse.theme, discourse.project, discourse) %>
                </p>
                <p> <strong> <%= discourse.project.cipher %> </strong> (<%= discourse.comments.count %> коммент.),</p>
                <p> <strong> авторы: </strong> <%= discourse.detailed_participants %> </p>
                <% if discourse.project_managers.present? %>
                  <p> <strong> руководители проекта: </strong><%= discourse.project_managers %> </p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="wrapper">
    <h3>Лучшие доклады по направлениям</h3>
    <ul>
      <% @conference.themes.each do |theme| %>
        <li>
          <h2><%= theme.name %></h2>
          <ul>
            <% theme.best_three_with_rate.each do |rate, discourses| %>
              <li>
                Средняя оценка:
                <%= rate %>
                <ul>
                  <% discourses.each do |discourse| %>
                    <li>
                      <p>
                        <%= link_to discourse.title, conference_theme_project_discourse_path(@conference, discourse.theme, discourse.project, discourse) %>
                      </p>
                      <p> <strong> <%= discourse.project.cipher %> </strong> (<%= discourse.comments.count %> коммент.),</p>
                      <p> <strong> авторы: </strong> <%= discourse.detailed_participants %> </p>
                      <% if discourse.project_managers.present? %>
                        <p> <strong> руководители проекта: </strong><%= discourse.project_managers %> </p>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>

