<%= content_for :page_title, "Статистика" %>

<table class='statistics'>
  <thead>
    <tr>
      <th>Кафедра</th>
      <th>Кол-во проектов</th>
      <th>Кол-во докладов</th>
      <th>Кол-во участников</th>
    </tr>
  </thead>
  <tbody>
    <% @chairs_with_projects.each do |chair, projects| %>
      <tr>
        <td style='text-align: left'>
          <%= chair.abbr %>
        </td>
        <td><%= projects.count %></td>
        <td><%= projects.map{ |p| p.discourses.count }.sum %></td>
        <td><%= projects.map{ |p| p.project_members.count }.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
