<li class='ajaxed_item'>
  <%= image_tag 'icon_report.png', :class => 'icon', :width => '16', :height => '16' %>
  <%= discourse.description %>
  <%= link_to "Скачать доклад", discourse.vfs_path %>
  <%= link_to "Редактировать", edit_manage_conference_project_discourse_path(@conference, discourse.project, discourse), :remote => true %>
  <%= link_to "Удалить", manage_conference_project_discourse_path(@conference, discourse.project, discourse), :method => :delete, :remote => true %>
</li>
