<li>
  <div class='project_with_stats'>
    <div>
      <%= image_tag 'icon_project.png', :class => 'icon', :width => '16', :height => '16' %>
      <%= project %>
      <div class="discourses_wrapper ajaxed">
        <ul>
          <%= render project.discourses %>
        </ul>
        <%= link_to "Добавить доклад", new_manage_conference_project_discourse_path(@conference, project), :remote => true, :class => 'new_record' %>
        <span class='help'>
          (<%= link_to "помощь", '#' %>)
          <div class="help_box">
            <h2>Помощь</h2>
            <ol>
              <li>Укажите название доклада, участников и напишите анотацию к докладу.</li>
              <li>Нажмите «Выбрать файл».</li>
              <li>Загрузите ваш доклад в формате PDF в появившемся окошке.</li>
              <li>Дважды кликните на доклад для добавления.</li>
            </ol>

            <hr />
            Чтобы закрыть справку &mdash; нажмите ESC или кликните мышью.
          </div>
        </span>
      </div>
    </div>
  </div>
</li>
