<li>
  <%= claim.role_text %>
  <%= claim.user.name %>
  <%= claim.human_state_name if claim.is_a?(ExpertClaim) %>
  <%= claim.project if claim.is_a?(ProjectMemberClaim) %>
  <%= claim.theme if claim.is_a?(ExpertClaim) %>
  <% if controller_path.match(/manage/) %>
    <%= link_to "подтвердить", manage_conference_claim_path(claim.conference, claim, :claim => { :state_event => :approve }), :method => :put if claim.is_a?(ExpertClaim) && claim.pending? %>
    <%= link_to 'удалить', manage_conference_claim_path(claim.conference, claim), :method => :delete %>
  <% end %>
</li>

