<li class='ajaxed_item'>
  <%= image_tag 'icon_report.png', :class => 'icon', :width => '16', :height => '16' %>
  <%= discourse.title %>
  <%= discourse.authors.join(', ') %>
  <%= discourse.description %>

  <div class="actions">
    <%= link_to "Скачать доклад", discourse.vfs_path %>
    <%= link_to "Редактировать", edit_conference_theme_project_discourse_path(@conference, discourse.theme, discourse.project, discourse), :remote => true %>
    <%= link_to "Удалить", conference_theme_project_discourse_path(@conference, discourse.theme, discourse.project, discourse), :confirm => t(:confirm), :method => :delete, :remote => true %>
    (<%= discourse.comments.count %>)
    <%= link_to "Обсудить", conference_theme_project_discourse_path(@conference, discourse.theme, discourse.project, discourse) %>
  </div>
</li>
