<li class='ajaxed_item'>
  <%= image_tag 'icon_report.png', :class => 'icon', :width => '16', :height => '16' %>
  <%= discourse.title %>
  <%= discourse.authors.join(', ') %>
  <%= discourse.description %>

  <div class="actions">
    <%= link_to "Скачать доклад", discourse.file_url, :target => '_blank' %>
    <%= link_to "Редактировать", edit_conference_theme_project_discourse_path(@conference, discourse.theme, discourse.project, discourse) %>
    <%= link_to "Удалить", conference_theme_project_discourse_path(@conference, discourse.theme, discourse.project, discourse), :method => :delete, 'data-confirm' => 'Вы уверены?' %>
    (<%= discourse.comments.count %>)
    <%= link_to "Обсудить", conference_theme_project_discourse_path(@conference, discourse.theme, discourse.project, discourse) %>
  </div>
</li>
