<li class='ajaxed_item'>
  <%= simple_form_for [association_chain, @discourse].flatten do |f| %>
    <%= f.input :title, :as => :string %>
    <%= f.input :authors, :as => :check_boxes, :collection => participants_select_collection(@discourse), :selected => @discourse.authors %>
    <%= f.input :description %>

    <div class='add_file_wrapper'>
      <% if f.object.file_url %>
        <%= link_to "Скачать файл (#{f.object.file_file_name})", f.object.file_url, :class => 'link', :target => '_blank' %>
        <div>
          <span>Загрузить другой файл</span>
          <%= f.input :file, :label => false %>
        </div>
      <% else %>
        <%= f.input :file, :label => false %>
      <% end %>
    </div>

    <div class="buttons">
      <%= f.submit "Сохранить" %>
      <%= link_to 'Отмена', dashboard_path %>
    </div>
  <% end %>
</li>


