<% content_for :page_title do %>
  <%= image_tag 'icon_report.png', :class => 'icon', :width => '16', :height => '16' %>
  <%= resource.title %>
<% end %>

<% content_for :local_navigation do %>
  <%= link_to "&larr; Назад на просмотр направления".html_safe, conference_theme_path(@conference, @theme) %>
<% end %>

<div id="left">
  <ul class='listing' id='projects'>
    <li>
      <div class='project_with_stats'>
        <div class='discourse_card'>

          <% if @discourse.rates.present? %>
            <div class="average_rate">
              <h3>Средняя оценка доклада</h3>
              <span class="rate"><%= @discourse.average_rate %></span>
            </div>
          <% else %>
            <div class="average_rate">
              <h3>Доклад еще не оценивали</h3>
            </div>
          <% end %>

          <div>
            <%= image_tag 'icon_theme.png', :class => 'icon', :width => '16', :height => '16' %>
            <%= link_to @theme, conference_theme_path(@conference, @theme) %>
          </div>

          <div>
            <%= image_tag 'icon_chair.png', :class => 'icon', :width => '16', :height => '16' %>
            <%= link_to "Кафедра #{resource.chair.abbr}", conference_theme_path(@conference, @theme, :anchor => "chair_#{I18n.transliterate(resource.chair.abbr).gsub(/\s/, '_')}") %>
          </div>

          <div>
            <%= image_tag 'icon_project.png', :class => 'icon', :width => '16', :height => '16' %>
            <%= link_to resource.project, conference_theme_path(@conference, @theme, :anchor => "project_#{resource.project.id}") %>
          </div>

          <div>
            <%= image_tag 'icon_report.png', :class => 'icon', :width => '16', :height => '16' %>
            <strong><%= resource.title %></strong>
          </div>

          <div>
            <%= image_tag 'icon_users.png', :class => 'icon', :width => '16', :height => '16' %>
            <%= resource.authors.join(', ') %>
          </div>

          <div><%= resource.description %></div>

          <div>
            <%= image_tag 'icon_pdf.png', :class => 'icon', :width => '16', :height => '16' %>
            <%= link_to resource.title, resource.vfs_path %>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <% if current_user.try(:expert_of?, @theme) %>
    <div class="rates ajaxed">
      <%= render :file => 'rates/edit' %>
    </div>
  <% end %>

  <div class="comments ajaxed">
    <h3>Комментарии</h3>
    <ul>
      <% resource.comments.roots.order('created_at ASC').each do |comment| %>
        <li><%= render comment %></li>
      <% end %>
    </ul>

    <% if can?(:create, @discourse.comments.new) %>
      <%= link_to "Оставить комментарий", new_conference_theme_project_discourse_comment_path(@conference, @theme, @project, resource), :remote => true, :class => 'new_record new_comment large' %>
    <% else %>
      <h3>Оставлять комментарии могут только подтверждённые участники конференции</h3>
    <% end %>
  </div>

</div>
