<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Интернет-конференция участников ГПО ТУСУР</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="header">
      <div id="header-wrapper">
        <ul id="header-navigation">
          <li class="" id="link_to_sessions_dashboard">
            <%= image_tag 'nav_sessions_dashboard.png', :class => 'icon', :height => '16', :width => '16', :alt => 'Главная' %>
            <a href="/">Интернет-конференция участников ГПО ТУСУР</a>
          </li>
          <li>
            <%= render_navigation :context => :manager, :renderer => :links if true || current_user && current_user.manager? %>
          </li>
        </ul>
        <%= render :partial => "esp_auth/shared/header" %>
      </div>
    </div>

    <div id="wrapper">
      <div id="navigation">
        <h1>Интернет-конференция участников ГПО ТУСУР</h1>
      </div>
      <div id="content">
        <div id="page-header">
          <%= content_tag(:div, content_tag(:h1, yield(:page_title)), id: "page-title") if content_for?(:page_title) %>
          <%= content_tag(:div, yield(:local_navigation), id: "local-navigation") if content_for?(:local_navigation) %>
        </div>
        <div id="container-one-column">
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="footer">
      <%= render :partial => 'common/footer' %>
    </div>

  </body>
</html>
