<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Интернет-конференция участников ГПО ТУСУР</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <div id="header">
      <div id="header-wrapper">
        <div id="header-navigation">
          Интернет-конференция участников ГПО ТУСУР
        </div>
        <%= render :partial => "esp_auth/shared/header" %>
      </div>
    </div>

    <div id="wrapper">
      <div id="navigation">
        # Тут можно воткнуть основную навигацию #
      </div>
      <div id="content">
        <div id="page-header">
          <div id="page-title">
            <h1><%= yield :page_title %></h1>
          </div>
        </div>
        <div id="container-one-collumn">
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="footer">
      <%= render :partial => 'common/footer' %>
    </div>

  </body>
</html>
