<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Научно-практическая конференция студентов «Наука и практика: проектная деятельность – от идеи до внедрения»</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body onload='setTimeout(function() {$(".flash_wrapper").remove()}, 2000)'>
    <% if flash['alert'] %>
      <div class="flash_wrapper" >
        <div class="flash alert">
          <%= flash['alert'] %>
        </div>
      </div>
    <% end %>

    <div id="header">
      <div id="header-wrapper">
        <ul id="header-navigation">
          <li class="" id="link_to_sessions_dashboard">
            <%= image_tag 'nav_sessions_dashboard.png', :class => 'icon', :height => '16', :width => '16', :alt => 'Главная' %>
            <a href="/">Главная</a>
          </li>
          <li>
            <%= link_to "ГПО ТУСУР", "http://gpo.tusur.ru", :target => '_blank' %>
          </li>
          <% if can?(:manage, :application) %>
            <li>
              <%= link_to 'Система управления', manage_root_path %>
            </li>
          <% end %>
          <% if current_user %>
            <li>
              <%= link_to "Мой кабинет", dashboard_path %>
            </li>
          <% end %>
          <li>
            <%= link_to "Статистика", conference_statistics_path(@current_conference) %>
          </li>
          <li class='archive'>
            <%= link_to "Архив конференций", '#', :class => 'selector' %>
            <ul>
              <% Conference.reorder('year ASC').each do |conference| %>
                <li>
                  <%= link_to "Конференция #{conference.year} года", conference_themes_path(conference) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
        <%= render :partial => "esp_auth/shared/header" %>
      </div>
    </div>

    <div id="wrapper">
      <div id="navigation">
        <div class="new_claim_link">
          Для подачи заявки на участие перейдите в <%= link_to "кабинет", dashboard_path %>
          <%= link_to 'Инструкция для экпертов', '/help/expert_guide.pdf', :target => '_blank' %>
          <%= link_to 'Инструкция для участников', '/help/member_guide.pdf', :target => '_blank' %>
          <%= link_to 'Требования к материалам', '/help/materials.pdf', :target => '_blank' %>
        </div>
        <h1>
          Научно-практическая конференция<br />
          студентов «Наука и практика: проектная деятельность – от идеи до внедрения»
        </h1>
        <span class="conference"><%= @current_conference  %></span>
      </div>
      <div id="content">
        <div id="page-header">
          <%= content_tag(:div, content_tag(:h1, yield(:page_title)), id: "page-title") if content_for?(:page_title) %>
          <%= content_tag(:div, yield(:local_navigation), id: "local-navigation") if content_for?(:local_navigation) %>
        </div>
        <div id="container-one-column">
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="footer">
      <%= render :partial => 'common/footer' %>
    </div>

    <% if (Rails.env.production? && !controller_path.match(/manage/)) %>
      <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter18488698 = new Ya.Metrika({id:18488698, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/18488698" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    <% end %>
  </body>
</html>
